#main{
  width: 400px; height: 280px; background-color: black;
}

input{

width:20%;
height: 40px;
font-size:20px;
margin:6.8px ;
}

#text_field{
width:96%;
height:50px;
background-color:silver;
}